.projects_container{
    grid-template-columns: 1fr 1.5fr;
    column-gap: 2rem;
    align-items: left;
}

.font_3{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.list_item{
    margin-bottom: var(--mb-1); 
    cursor: pointer;                
}

.picon{
    display: flex;
    height: 25px;
    width: 25px;
    margin-left: var(--mb-0-5);
}

.active_item{
    background-color: rgb(252, 251, 228);
    box-shadow: 5px 5px 10px #888888;
}

.project_desc{
    height: 100%;
    text-align: left;
}
.description_data{
    height: 5rem;
}

.links{
    margin-top: var(--mb-2);
    display: flex;
    justify-content: space-between;
}